.morea {
	
	div {
		display: block;
		float: left;
		width: 33%;

		&.rtl {
			direction: rtl;
		}

		.aligned {
			background-color: #EEE;
		}

		span {
			padding: 5px;

			&:hover {
				background-color: #DDD;
			}
		}
	}
}
